select:not([name='note']) {
  font-size: 20px;
}

select {
  margin: 0 1rem;
  padding: 0 0.5rem;
}

select.test-select {
  all: unset;
  padding: 0 0.5rem;
}

select.test-select::after {
  font-family: FontAwesome;
  content: '\f063';
  position: absolute;
  right: 1rem;
  top: 50%;
  /* color: tomato; */
  /* transform: translateY(-50%); */
  /* transition: all 250ms; */
}

.outer-select {
  border-radius: 5px;
  position: relative;
  font-family: sans-serif;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  padding: 0.5rem;
  font-size: 30px;
}

.outer-select::after {
  font-family: FontAwesome;
  content: '\f150';
}

.chords {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
